@model PoojaStores.Models.ModelClasses.OrderDetailPage
@{
    int rCnt = 1;
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-book"></i>
        </div>
        <div class="header-title">
            <h1>Dispatched Orders</h1>
            <small>Order management.</small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-12 pinpin">
                <div class="card" data-sortable="true">
                    <div class="card-header">
                        <div class="card-title custom_title">
                            <h4>Dispatched Orders List</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <thead class="cf">
                                    <tr>
                                        <th>S.no</th>
                                        <th>OrderId</th>
                                        <th>Product Code</th>
                                        <th>Product</th>
                                        <th>No Of Items Ordered</th>
                                        <th>Dispatch Details</th>
                                        <th>Deliver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var u in Model.odetails)
                                    {
                                    <tr>
                                        <td data-title="S.no">@(rCnt++)</td>
                                        <td data-title="Category Name">@u.OrderId</td>
                                        <td data-title="Category Name">@u.ProductCode</td>
                                        <td data-title="Category Name">
                                            <img src="~/ProductImages/@u.Image" width="150" height="150">
                                        </td>
                                        <td data-title="Category Name">@u.NumberOfItems</td>
                                        <td data-title="Category Name">
                                            Dispatched Through :
                                            @u.DispatchedBy
                                            <br />
                                            @{
                                                DateTime co = Convert.ToDateTime(u.DispatchedOn);
                                            }
                                            Dispatched On :
                                            @co.ToString("dd/MM/yyyy")
                                            <br />
                                            Dispatch Number :
                                            @u.DispatchNumber
                                        </td>
                                            <td data-title="Dispatch"><a href="~/Order/DeliveryDetails?id=@u.PODetailId" class="btn btn-primary btn-sm">Deliver</a></td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>