@model IEnumerable<PoojaStores.Models.ModelClasses.OrdersMastersDisplay>
@{ 
    int rCnt = 1;
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-book"></i>
        </div>
        <div class="header-title">
            <h1>Open Orders</h1>
            <small>Order management.</small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-12 pinpin">
                <div class="card" data-sortable="true">
                    <div class="card-header">                        
                        <div class="card-title custom_title">
                            <h4>Open Orders List</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <thead class="cf">
                                    <tr>
                                        <th>S.no</th>
                                        <th>Ordered By</th>
                                        <th>Ordered On</th>
                                        <th>Payment Method</th>
                                        <th>Payment Status</th>
                                        <th>Order Amount</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var u in Model)
                                    {
                                    <tr>
                                        <td data-title="S.no">@(rCnt++)</td>
                                        <td data-title="Category Name">@u.CustomerName</td>
                                        @{
                                            DateTime co = Convert.ToDateTime(u.CreatedOn);
                                        }
                                    <td data-title="Category Name">@co.ToString("dd/MM/yyyy")</td>
                                        <td data-title="Category Name">@u.PaymentMethod</td>
                                        <td data-title="Category Name">@u.CurrentStatus</td>
                                        <td data-title="Category Name">@u.OrderAmount</td>

                                        <td data-title="Edit"><a href="~/Order/OpenOrderDetails?id=@u.POID" class="btn btn-primary btn-sm"><i class="fa fa-info-circle"></i></a></td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>