@model PoojaStores.Models.ModelClasses.PasswordChangeRequest

<main class="main">
    <div class="container login-container mt-4">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="heading mb-1">
                            <h4 class="title">Reset Your Password</h4>
                        </div>
                        <form action="~/Authenticate/ResetPassword" method="post">
                            @*<input type="text" hidden value="@ViewBag.url" name="url" />*@
                            <input type="hidden" name="UserId" value="@Model.UserId" />
                            <label for="login-email">
                                Otp Sent to mobile
                                <span class="required">*</span>
                            </label>
                            <input type="text" name="key" placeholder="OTP" required="" value="@Model.key" class="form-input form-wide">
                            @Html.ValidationMessageFor(a => a.key, null, new { @class = "text-danger" })
                            <label for="login-email">
                                Enter New Password
                                <span class="required">*</span>
                            </label>
                            <input type="password" name="password" placeholder="**********" required="" value="@Model.password" class="form-input form-wide">
                            @Html.ValidationMessageFor(a => a.password, null, new { @class = "text-danger" })
                            <label for="login-email">
                                Re-Enter Password
                                <span class="required">*</span>
                            </label>
                            <input type="password" name="confirmPassword" placeholder="**********" required="" value="@Model.confirmPassword" class="form-input form-wide">
                            @Html.ValidationMessageFor(a => a.confirmPassword, null, new { @class = "text-danger" })


                            @*<label for="login-password">
            Password
            <span class="required">*</span>
        </label>
        <input type="password" name="pword" class="form-wide form-input" title="Please enter your password" placeholder="******" required="" value="">
        @Html.ValidationMessageFor(a => a.pword, null, new { @class = "text-danger" })*@
                            <div>
                                <span class="text-danger">
                                    @ViewBag.ErrorMessage
                                </span>
                            </div>
                            <div class="form-footer">
                                @*<div class="custom-control custom-checkbox mb-0">
                <input type="checkbox" class="custom-control-input" id="lost-password">
                <label class="custom-control-label mb-0" for="lost-password">
                    Remember
                    me
                </label>
            </div>*@

                                @*<a href="#" class="forget-password text-dark form-footer-right">
                <b>
                    Forgot
                    Password?
                </b>
            </a>*@
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-dark btn-md w-100">
                                        Reset
                                    </button>
                                </div>
                                @*<div class="col-md-6">
                                    <a href="~/Authenticate/Login">
                                        <button type="button" class="btn btn-dark btn-md w-100">
                                            Login
                                        </button>
                                    </a>

                                </div>*@
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3"></div>
                    @*<div class="col-md-6">
                            <img src="~/ProductImages/login-logo-ganesha.jpg" width="100%" alt="login-logo">
                        </div>*@

                </div>

            </div>

        </div>
    </div>

</main>
