@model PoojaStores.Models.ModelClasses.ProductDisplayModelBase
@{ 
    int rCnt = 1;
    Layout = "~/Views/Shared/AdminMaster.cshtml";
    int curentPage = ViewBag.pageNumber;
    var totalPages = ViewBag.totalPages;
    int pageSize = ViewBag.pageSize;   
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-houzz"></i>
        </div>
        <div class="header-title">
            <div class="row">
                <div class="col-md-10">
                    <h1>All Products Total - @ViewBag.TotalRecords</h1>
                    <small>Very Detail Inventory.</small>
                </div>
                <div class="col-md-2">
                    <div class="btn-group float-right" role="group">
                        <div class="buttonexport" id="buttonlist">
                            <a class="btn btn-add" href="~/Product/ProductData">
                                <i class="fa fa-plus"></i> Add New
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-12 pinpin">
                <div class="card" data-sortable="true">
                    <div class="card-header">
                        <form action="~/Product/ProductList" method="post">
                            <div class="row">
                                @*<div class="col-md-2">
                                    <div class="card-title custom_title">
                                        <h4>Product's</h4>
                                    </div>
                                </div>*@
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Search</label>
                                        <input type="text" class="form-control" name="search" placeholder="search"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Category</label>
                                        @Html.DropDownListFor(x => Model.CategoryId,
                                                new SelectList(new[] {
                                                new {CategoryId = 0,CategoryName = "-- Select Category --" }}
                                                .Union(
                                                    Model.categoryDrops
                                                    .Select(o => new { CategoryId = o.CategoryId, CategoryName = o.CategoryName })),
                                                    "CategoryId", "CategoryName"), null,
                                                    new { @id = "catDD", @class = "form-control", @onchange = "GetSubCats()" })
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sub Category</label>

                                        @Html.DropDownListFor(x => Model.SubCategoryId,
                                                new SelectList(new[] {
                                                new {SubCategoryId = 0,SubCategoryName = "-- Select SubCategory --" }}
                                                .Union(
                                                    Model.subCategoryDrops
                                                    .Select(o => new { SubCategoryId = o.SubCategoryId, SubCategoryName = o.SubCategoryName })),
                                                    "SubCategoryId", "SubCategoryName"), null,
                                                    new { @id = "subcatDD", @class = "form-control" })
                                        @*@Html.DropDownListFor(x => Model.SubCategoryId, new SelectList(Model.subCategoryDrops, "SubCategoryId", "SubCategoryName", Model.SubCategoryId), new { @id = "subcatDD", @class = "form-control" })*@

                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-success serchgaptop">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                        <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead class="back_table_color">
                                    <tr class="info">
                                        <th>S.No</th>
                                        <th>Product Code/Title/Category</th>
                                        <th>Image</th>
                                        <th>Description</th>
                                        <th>Dimension</th>
                                        <th>Colour</th>
                                        <th>Available</th>
                                        <th>Brand </th>

                                        <th>Mrp</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in Model.products)
                                    {
                                        <tr>
                                            <td>@(rCnt++)</td>
                                            <td>
                                                @p.ProductCode<br>
                                                <strong>@p.ProductTitle</strong><br />
                                                @p.Category_Name<br />

                                            </td>
                                            <td>
                                                <img src="~/ProductImages/@p.ProductMainImage1" width="150" height="150">
                                            </td>
                                            <td>@(p.ProductDescription.Length > 100 ? p.ProductDescription.Substring(0,100) : p.ProductDescription) </td>
                                            
                                            <td>@p.PackHeight * @p.PackWidth * @p.PackLength @p.Measurement_Name</td>
                                            <td>@p.ProductColor</td>
                                            <td>@p.QtyAvailable</td>
                                            <td>@p.BrandName</td>

                                            <td width="12%">
                                                @{
                                                    System.Globalization.CultureInfo Indian = new System.Globalization.CultureInfo("hi-IN");
                                                    string mrp = String.Format(Indian, "{0:N}", p.SellingPrice);
                                                }

                                                Rs. @mrp/-
                                            </td>
                                            <td>
                                                <a href="~/Product/ProductData?id=@p.ProductId">
                                                    <button type="button" class="btn btn-add btn-sm"><i class="fa fa-pencil"></i></button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" onclick="ShowDelete(@p.ProductId)">
                                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    }




                                </tbody>
                            </table>
                        </div>
                        <div class="tab-inn">
                            <form action="~/Inventory/All" method="post">
                                <span>Total @ViewBag.TotalCount records</span>
                                <ul class="pagination">
                                    <!--<li class="waves-effect"><a href="#!"><i class="material-icons"><</i></a></li>-->
                                    @{
                                        int pre = curentPage - 1;
                                    }
                                    @if (curentPage == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#!" tabindex="-1">Previous</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="~/Product/ProductList?pageNumber=@pre&pageSize=@ViewBag.pageSize&search=@ViewBag.search&CategoryId=@Model.CategoryId&SubCategoryId=@Model.SubCategoryId">Previous</a>
                                        </li>
                                    }
                                    @for (int cnt = 1; cnt <= totalPages; cnt++)
                                     {
                                        if (cnt == curentPage)
                                        {
                                            <li class="page-item active"><a class="page-link" href="~/Product/ProductList?pageNumber=@cnt&pageSize=@ViewBag.pageSize&search=@ViewBag.search&CategoryId=@Model.CategoryId&SubCategoryId=@Model.SubCategoryId">@cnt</a></li>

                                        }
                                        else
                                        {
                                            <li class="page-item"><a class="page-link" href="~/Product/ProductList?pageNumber=@cnt&pageSize=@ViewBag.pageSize&search=@ViewBag.search&CategoryId=@Model.CategoryId&SubCategoryId=@Model.SubCategoryId">@cnt</a></li>
                                        }
                                     }
                                    @{
                                        int next = curentPage + 1;
                                    }
                                   @if (curentPage != totalPages)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="~/Product/ProductList?pageNumber=@next&pageSize=@ViewBag.pageSize&search=@ViewBag.search&CategoryId=@Model.CategoryId&SubCategoryId=@Model.SubCategoryId">Next</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item disabled" >
                                            <a class="page-link" href="#!">Next</a>
                                        </li>
                                    }                                        
                                </ul>
                            </form>
                        </div>
                        @*<nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- customer Modal1 -->
        
        
    </section>
    <!-- /.content -->
</div>

<script>
    function ShowDelete(id) {
        swal("Are you sure?", {
            buttons: {
                yes: {
                    text: "Yes",
                    value: "yes"
                },
                no: {
                    text: "No",
                    value: "no"
                }
            }
        }).then((value) => {
            if (value === "yes") {
                $.ajax({
                    url: GlobalUrl + "Product/DeleteProduct?id=" + id,
                    type: 'post',
                    data: '{}',
                    success: function (result) {
                        toastr["success"]("Successuflly deleted!");
                        window.location.href = window.location.href;
                    }
                });
            }
            else {
                toastr["error"]("Delete cancelled!")
            }
            return false;
        });


    }
    function GetSubCats() {
        var catid = $('#catDD option:selected').val();
        $.ajax({
            url: GlobalUrl + "Common/GetAllSubCats?catId=" + catid,
            type: 'post',
            data: '{}',
            success: function (res) {
                var r = res.result.length;
                var row = '';

                if (r > 0) {

                    for (var i = 0; i < r; i++) {
                        row = row + '<option value="' + res.result[i].subCategoryId + '">' + res.result[i].subCategoryName + '</option>';

                    }
                }
                $('#subcatDD').html('');
                $('#subcatDD').html(row);
            }
        });
    }
</script>